<div class="main-container">
    <div class="block-container">
        <div class="component-title u-txt-left">Soporte para WhatsApp</div>
    </div>
    <div class="block-container u-mt-2">
        <div class="u-txt-medium u-font-size-14">
            Otorga permiso de contacto por WhatsApp y podrás recibir soporte técnico personalizado.
        </div>
        <div class="u-flex-center u-ico-big">
            <mat-icon svgIcon="logo-whatsapp" class="u-icon-xxl"></mat-icon>
        </div>
    </div>
    
    <div class="u-flex-center u-mt-2">
        <button mat-flat-button color="primary" class="btn" (click)="processComplete()">Continuar</button>
    </div>
</div>
