<div class="main-container">
    <div class="block-container">
        <div class="component-title u-txt-left">¿Cómo te gustaría ganar con EKT | <strong>Driver</strong>?</div>
    </div>
    <div class="block-container u-mt-1">
        <div class="driver-container">
            <strong class="u-font-size-12">Driver Moto ligera</strong>
            <div class="u-font-size-10">Si tienes una motocicleta con parrilla para carga ligera, esta es la opción para ti.</div>
        </div>
        <div class="driver-container u-grid-mt">
            <strong class="u-font-size-12">Driver Moto cabina</strong>
            <div class="u-font-size-10">Si tienes una moto con cabina de transporte podrás llevar cargas más grandes.</div>
        </div>
        <div class="driver-container u-grid-mt" [routerLink]="['/driver-car-process']" routerLinkActive="router-link-active">
            <strong class="u-font-size-12">Driver Auto</strong>
            <div class="u-font-size-10">Elige esta opción si tienes un vehículo de 4 puertas y planeas conducirlo tú mismo.</div>
        </div>
        <div class="driver-container u-grid-mt">
            <strong class="u-font-size-12">Driver Van</strong>
            <div class="u-font-size-10">Elige esta opción si tienes un vehículo tipo Van o de carga para transportar mercancía de mayor volumen.</div>
        </div>
        <div class="driver-container u-grid-mt">
            <strong class="u-font-size-12">Quiero ser Driver pero no tengo vehículo</strong>
            <div class="u-font-size-10">Elige esta opción si tienes más de 18, quieres ser un Driver y no tienes un vehículo propio.</div>
        </div>
    </div>

</div>