<div class="main-container" style="margin-top: 20px;">
    <div class="component-title">¡Listo!, tu entrevista se agendó correctamente.</div>
    <div class="block-container info-component u-mt-2 u-txt-center u-lh-22">
        Te enviamos un correo con los detalles de tu entrevista. Recuerda llevar una <strong>identificación oficial para tu acceso.</strong>
    </div>
    <div class="titulo-copy u-texto-verde u-txt-center">
        ¡Mucha suerte!
    </div>
</div>
<div class="animacion-colaboradores">
    <div class="colaborador-1">
        <img src="assets/img/icons/colaborador3.svg" alt="">
    </div>
    <div class="colaborador-2">
        <img src="assets/img/icons/colaborador4.svg" alt="">
    </div>
</div>