<mat-toolbar class="header-toolbar u-flex-between app-wrapper">
    <div class="u-flex-center">
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Regresar" (click)="headerService.goBack()" *ngIf="!headerService.headerElements.showDriverIcon">
            <mat-icon svgIcon="ico-arrow-left" class="u-icon-sm"></mat-icon>
        </button>
        <span class="header-title" *ngIf="!headerService.headerElements.showDriverIcon">{{headerService.headerElements.title}}</span>
        <mat-icon svgIcon="logo-driver" class="u-icon-md u-txt-medium" *ngIf="headerService.headerElements.showDriverIcon"></mat-icon>
    </div>
    <div>
        <button mat-flat-button color="primary" class="btn help-button u-font-size-12" *ngIf="headerService.headerElements.showHelp"  
        [routerLink]="['/help']" routerLinkActive="router-link-active"><strong>Ayuda</strong></button>
    </div>
</mat-toolbar>