<div class="main-container">
    <div class="block-container">
        <div class="component-title u-txt-left">Seguro de cobertura amplia vigente y que muestre las coberturas</div>
    </div>
    <div class="block-container u-mt-2">
        <div class="u-txt-medium u-font-size-16">
            Asegúrate de que se puedan leer fácilmente los detalles.
        </div>
        <div class="u-txt-medium u-font-size-16 u-mt-1">
            ¿No tienes seguro? <span class="u-txt-link u-txt-blue">Solicítalo aquí</span>
        </div>
        <div class="block-container u-mt-2 u-flex-center">
            <div class="rectangle-add-img-container" style="height: 233px;" (click)="openCamera()">
                <div class="agregarImg u-txt-demibold" style="top: 73px;" *ngIf="!carInsurance">
                    <img src="assets/img/icons/camera-icon.svg" alt="" class="bg-img-add">
                    Seguro de <br> cobertura amplia
                </div>
                <img class="bg-img rectangle-picture-cover" [src]="carInsurance" *ngIf="carInsurance">
                <button color="#000" class="btn-camera-rectangle" *ngIf="carInsurance">
                    <mat-icon svgIcon="icon-camera"></mat-icon>
                </button>
            </div>
                
        </div>
    </div>
    <div class="block-container u-mt-2" *ngIf="carInsurance">
        <div class="row">
            <div class="col-6 u-grid-pr">
                <label class="u-txt-medium">Reporte de siniestros</label>
                <div class="spinner-validator">
                    <input type="text" class="u-txt-demibold" value="800-288-6700">
                </div>
            </div>
            <div class="col-6">
                <label class="u-txt-medium">Número de póliza</label>
                <div class="spinner-validator">
                    <input type="text" class="u-txt-demibold" value="3200307850">
                </div>
            </div>
        </div>
    </div>
    
    <div class="u-flex-center u-mt-2">
        <button mat-flat-button color="primary" class="btn" [ngClass]="{'desac-button': !carInsurance}" (click)="processComplete()">Continuar</button>
    </div>
</div>
