<div class="main-container">
    <div class="component-title">Contraseña</div>
    <div class="block-container info-component u-mt-3">Debe ser mínimo de 8 caracteres, al menos una mayúscula, un número y un caracter especial.</div>
    <div class="block-container u-mt-2">
        <label class="u-txt-medium">Contraseña</label>
        <div class="spinner-validator">
            <input type="password" class="u-txt-demibold" [(ngModel)]="passw1" (keyup)="validatePassw1()">
            <mat-icon svgIcon="ico-check" class="u-icon-sm spiner-icon" *ngIf="validatingPassw1"></mat-icon>
            <ng-container *ngIf="!passwEmpty1">
                <mat-icon svgIcon="ico-error" class="u-icon-sm spiner-icon" *ngIf="!validatingPassw1"></mat-icon>
            </ng-container>
        </div>
        <ng-container *ngIf="!passwEmpty1">
            <div class="u-text-error" *ngIf="!validatingPassw1">Falta un carácter especial y una mayúscula</div>
        </ng-container>
        <div class="u-mt-2"></div>
        <label class="u-txt-medium">Confirma tu contraseña</label>
        <div class="spinner-validator">
            <input type="password" class="u-txt-demibold" [(ngModel)]="passw2" (keyup)="validatePassw2()">
            <mat-icon svgIcon="ico-check" class="u-icon-sm spiner-icon" *ngIf="validatingPassw2"></mat-icon>
            <ng-container *ngIf="!passwEmpty2">
                <mat-icon svgIcon="ico-error" class="u-icon-sm spiner-icon" *ngIf="!validatingPassw2"></mat-icon>
            </ng-container>
        </div>
    </div>
    <div class="u-flex-center u-mt-3">
        <button mat-flat-button color="primary" class="btn" [ngClass]="{'desac-button': !correctForm}" [routerLink]="['/driver']" routerLinkActive="router-link-active">Continuar</button>
    </div>
</div>