<div class="main-container">
    <div class="component-title">Celular</div>
    <div class="block-container info-component u-mt-3">Para darte una mejor experiencia verificaremos tu celular.</div>
    <div class="block-container u-mt-2">
        <div class="row">
            <div class="col-7 u-grid-pr">
                <label class="u-txt-medium">Celular</label>
                <div class="spinner-validator">
                    <input type="text" maxlength="12" class="u-txt-demibold" [(ngModel)]="phone" (keypress)="validatePhone()">
                </div>
            </div>
            <div class="col-5 u-grid-pl">
                <br>
                <button mat-flat-button color="primary" class="btn btnForm" [ngClass]="{'desac-button': phone.length < 12}" (click)="sendCode()" *ngIf="!codeSent">Enviar</button>
                <button mat-flat-button color="primary" class="btn btnForm" *ngIf="codeSent">Reenviar</button>
            </div>
        </div>
        <div class="u-mt-2"></div>
        <div class="u-position-r">
            <div class="fadeIn animate u-w-100" *ngIf="showCodeInput">
                <label class="u-txt-medium">Código de verificación</label>
                <div class="spinner-validator">
                    <input type="text" maxlength="9" class="u-txt-demibold" [(ngModel)]="code" (keypress)="validateCode()">
                    <ng-container *ngIf="validCode">
                        <div class="label-spiner-icon u-flex-center" *ngIf="validatingCode">
                            <span class="u-grid-pr u-txt-medium">Validando</span>
                            <mat-icon svgIcon="ico-spinner" class="u-icon-sm spin-active"></mat-icon>
                        </div>
                        <div class="label-spiner-icon u-flex-center" *ngIf="!validatingCode">
                            <span class="u-grid-pr u-txt-medium">Código verificado</span>
                            <mat-icon svgIcon="ico-check" class="u-icon-sm"></mat-icon>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!validCode && code.length > 0">
                        <mat-icon svgIcon="ico-error" class="u-icon-sm spiner-icon"></mat-icon>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="u-flex-center u-mt-3">
        <button mat-flat-button color="primary" class="btn" [ngClass]="{'desac-button': !continueButton}" [routerLink]="['/adress']" routerLinkActive="router-link-active">Continuar</button>
    </div>
