<div class="main-container">
    <div class="block-container">
        <div class="component-title u-txt-left">Foto de perfil</div>
    </div>
    <div class="block-container u-mt-2">
        <div class="u-txt-medium u-font-size-16">
            Tu <strong>rostro bien iluminado</strong> y la parte superior de tus hombros, no uses lentes ni sombrero.
        </div>
        <div class="block-container u-mt-2 u-flex-center">
            <div class="u-position-r">
                <div class="add-profile-img-container" (click)="openCamera()">
                    <div class="agregarImg u-txt-demibold" *ngIf="!profilePicture">
                        <img src="assets/img/icons/camera-icon.svg" alt="" class="bg-img-add">
                        Foto de perfil
                    </div>
                    <img class="bg-img profile-picture-cover" [src]="profilePicture" *ngIf="profilePicture">
                </div>
                <button color="#000" class="btn-camera-circle" *ngIf="profilePicture">
                    <mat-icon svgIcon="icon-camera"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    
    <div class="u-flex-center u-mt-2">
        <button mat-flat-button color="primary" class="btn" [ngClass]="{'desac-button': !profilePicture}" (click)="processComplete()">Continuar</button>
    </div>
</div>
