.btn {
    border-radius: 2px !important;
    min-width: 130px !important;
    font-family: $font-demibold;
    color: $white-color;
    font-size: 16px;
    min-width: 150px !important;
    line-height: 50px !important;
    padding: 0 16px !important;
}

.icoBtn {
    height: 20px !important;
    width: 20px !important;
    margin-right: 10px;
    margin-bottom: 6px;
    fill: red;
}