.header-title {
    font-size: 18px;
    font-family: $font-demibold;
    text-align: center;
}

.component-title {
    font-size: 25px;
    font-family: $font-medium;
    text-align: center;
}

.component-subtitle {
    font-size: 20px;
    font-family: $font-medium;
    text-align: center;
}

.titulo-rojo {
    color: $color-ekt;
}