@import url('assets/styles/_fonts.scss');
$font-light: 'Avenir_Light';
$font-regular: 'Avenir_Next_Regular';
$font-medium: 'AvenirNextLTPro-Medium';
$font-demibold: 'Avenir_Next_Demi_Bold';
$font-bold: 'Avenir_Next_Bold';

$primary-color: #FFCC00;
$secundary-color: #2680EB;
$color-ekt: #CC3333;
$container-background-color: #F2F3F6;
$photo-background-color: #F2F3F6;
$white-color: #ffffff;